.container-topo {
    border-bottom: 4px solid gray;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ffffff;
}

.topo,
.rodape {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo img {
    width: 75px;
    height: 53px;
}

.topo ion-icon {
    width: 45px;
    height: 45px;
}

.main {
    margin-top: 90px;
    margin-bottom: 90px;
    background-color: #f3f3f3;
    width: 100%;
    height: 80vh;
}

.chat li {
    display: flex;
    height: 40px;
    margin: 4px 0 4px 0;
    padding: 0 8px;
    align-items: center;
}

.time {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #AAAAAA;
}

.from-to {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: 0 6px;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.status {
    background-color: #dcdcdc;
}

.message {
    background-color: #ffffff;
}

.private_message {
    background-color: #FFDEDE;
}

p {
    font-family: Roboto;
}

.container-rodape {
    border-top: 4px solid gray;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
}

input {
    font-family: Roboto, 'sans-serif';
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    border: #ffffff;
}

input[type=text]:focus {
    outline: none;
}

button {
    border: none;
}

button :hover {
    cursor: pointer;
}

.rodape img {
    width: 26px;
    height: 26px;
}

.tela-de-entrada {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-entrada {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-entrada img {
    width: 130px;
    height: 92px;
    margin-bottom: 90px;
}

.container-entrada input {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #aeaeae;
    width: 260px;
    height: 54px;
    border-radius: 4px;
    border: 1px #d7d7d7 solid;
}

.container-entrada button {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    width: 110px;
    height: 45px;
    border-radius: 9px;
    background-color: #e7e7e7;
    margin-top: 15px;
}

.escondido{
    display: none;
}